<!DOCTYPE html>
<html>
<head>
  <title>Confirm Account</title>
  <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.ibb.co/nLdTFXS/icon3.png"
    />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f7f7f7;
    }
    a {
      color: #32a852;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <p>Hello {{ user.username }},</p>
  <p>Welcome! Please confirm your registration by clicking the link below:</p>
  <p><a href="{{ confirm_url }}">Confirm Account</a></p>
  <p>This link will expire in one hour.</p>
</body>
</html>
