<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
      }

      h1,
      h2 {
        color: #333;
      }

      p {
        line-height: 1.6;
      }

      ul {
        list-style-type: disc;
        margin-left: 20px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body style="width: 60%; padding-left: 20%">
    <h1>Privacy Policy</h1>

    <h2>1. Introduction</h2>
    <p>
      Welcome to Al3rt.me. Posydn Labs, a subsidiary of Venture Partners, LLC.
      (“us”, “we”, or “our”) operates
      <a href="https://Al3rt.me">https://Al3rt.me</a> (hereinafter referred to
      as “Service”). Our Privacy Policy governs your visit to
      <a href="https://Al3rt.me">https://Al3rt.me</a>, and explains how we
      collect, safeguard and disclose information that results from your use of
      our Service.
    </p>

    <h2>2. Information Collection and Use</h2>
    <p>
      We collect various types of information to personalize our service and
      respond to your requests. We do not seek nor use Personally Identifiable
      Information (PII). You must avoid the inclusion of any PII in the data you
      submit to our services.
    </p>
    <p>
      <strong>Personal Data:</strong> When you use our Service, we retain your
      User ID to contextualize and personalize the services and information we
      provide you in response to your requests.
    </p>
    <p>
      <strong>Usage Data:</strong> We may also collect information your browser
      sends whenever you visit our Service or access the Service (“Usage Data”).
    </p>

    <h2>3. Use of Data</h2>
    <p>Al3rt.me uses the collected data for various purposes:</p>
    <ul>
      <li>to provide and maintain our Service;</li>
      <li>to notify you about changes to our Service;</li>
      <li>
        to allow you to participate in interactive features of our Service when
        you choose to do so;
      </li>
      <li>to provide customer support;</li>
      <li>
        to gather analysis or valuable information so that we can improve our
        Service;
      </li>
      <li>to monitor the usage of our Service;</li>
      <li>to detect, prevent, and address technical issues.</li>
    </ul>

    <h2>
      4. Legal Basis for Processing Personal Data Under General Data Protection
      Regulation (GDPR)
    </h2>
    <p>
      If you are from the European Economic Area (EEA), Al3rt.me legal basis for
      collecting and using the personal information described in this Privacy
      Policy depends on the Personal Data we collect and the specific context in
      which we collect it.
    </p>

    <h2>5. Retention of Data</h2>
    <p>
      Al3rt.me will retain your User ID and transactional Data only for as long
      as is necessary for the purposes set out in this Privacy Policy.
    </p>

    <h2>6. Transfer of Data</h2>
    <p>
      Your User ID and transactional data may be transferred to — and maintained
      on — computers outside your state, province, country, or other
      governmental jurisdiction where the data protection laws may differ from
      those from your jurisdiction.
    </p>

    <h2>7. Disclosure of Data</h2>
    <p>We may disclose personal information that we collect, or you provide:</p>
    <ul>
      <li>To our subsidiaries and affiliates.</li>
      <li>
        To contractors, service providers, and other third parties we use to
        support our business.
      </li>
      <li>To fulfill the purpose for which you provide it.</li>
      <li>
        For any other purpose disclosed by us when you provide the information.
      </li>
    </ul>

    <h2>8. Security of Data</h2>
    <p>
      We value the security of your data, but remember that no method of
      transmission over the Internet or method of electronic storage is 100%
      secure.
    </p>

    <h2>9. Your Data Protection Rights Under GDPR</h2>
    <p>
      If you are a European Economic Area (EEA) resident, you have certain data
      protection rights to cover all possible privacy scenarios.
    </p>

    <h2>10. Changes to This Privacy Policy</h2>
    <p>
      We may update our Privacy Policy from time to time. We will notify you of
      any changes by posting the new Privacy Policy on this page.
    </p>

    <h2>11. Contact Us</h2>
    <p>
      If you have any questions about this Privacy Policy, please contact us by
      email: <a href="mailto:support@posydn.com">support@posydn.com</a>.
    </p>
  </body>
</html>
